{% extends "store/base.html" %} {% load static %} {% block content %}

<section>
  <div class="section-center clearfix">
    <article class="about-img">
      <div class="about-picture-container">
        <img
          src="{% static 'images/productOne.jpeg' %}"
          alt="tea"
          class="about-picture"
        />
      </div>
    </article>
    <article class="about-info">
      <div class="section-title">
        <h3>YOUR HAIR IS OUR MASTERPIECE!</h3>
        <h2>EBONY HUDSON</h2>
      </div>
      <p class="about-text">
        Ebony Hudson is a qualified and professional hairstylist with over 5
        years of experience in the hair and beauty industry! Unlike other
        stylists, Ebony works her magic on natural hair, weaves, and as a
        colorist
      </p>
      <!-- <p class="about-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab
        illum temporibus minus possimus dolorem.
      </p> -->
    </article>
  </div>
</section>

{% endblock content %}
