{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'store/main.css' %}"
    />
    <title>Document</title>

    <script type="text/javascript">
      let user = "{{request.user}}";

      function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          var cookies = document.cookie.split(";");
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken = getToken("csrftoken");

      function getCookie(name) {
        var cookieArr = document.cookie.split(";");
        for (var i = 0; i < cookieArr.length; i++) {
          var cookiePair = cookieArr[i].split("=");
          if (name == cookiePair[0].trim()) {
            return decodeURIComponent(cookiePair[1]);
          }
        }
        return null;
      }
      var cart = JSON.parse(getCookie("cart"));

      if (cart == undefined) {
        cart = {};
        console.log("Cart Created!", cart);
        document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/";
      }
      console.log("Cart:", cart);
    </script>
  </head>
  <body>
    <!-- navbar -->
    <!-- nav button -->
    <span class="nav-btn" id="nav-btn">
      <i class="fas fa-bars"></i>
    </span>
    <nav class="navbar" id="navbar">
      <div class="navbar-header">
        <span class="nav-close" id="nav-close">
          <i class="fas fa-times"></i>
        </span>
      </div>
      <ul class="nav-items">
        <li><a href="{% url 'store-home' %}" data-after="J">Home</a></li>
        <li>
          <a href="{% url 'service_list' %}" data-after="Services"
            >Service list</a
          >
        </li>
        <li>
          <a href="{% url 'store-about' %}" data-after="Projects">About Us</a>
        </li>
        <li>
          <a href="{% url 'store-contact' %}" data-after="Contact">Contact</a>
        </li>
        {% if user.is_authenticated %}
        <li>
          <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        <li>
          <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        <li>
          <div class="form-inline my-2 my-lg-0">
            <a href="{% url 'store-cart' %}">
              <img id="cart-icon" src="{% static 'images/cart.png' %}" />
            </a>
            <p id="cart-total">{{ cartItems }}</p>
          </div>
        </li>
        {% else %}
        <li>
          <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li>
          <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
        </li>
        <li>
          <div class="form-inline my-2 my-lg-0">
            <a href="{% url 'store-cart' %}">
              <img id="cart-icon" src="{% static 'images/cart.png' %}" />
            </a>
            <p id="cart-total">{{ cartItems }}</p>
          </div>
          {% endif %}
        </li>
      </ul>
    </nav>
    <!-- header -->
    <header class="header">
      <div class="banner">
        <h2>Hair and Beyond</h2>
        <h1>
          HEALTHY <br />
          HAIR HABITS
        </h1>
        <a href="skills.html" class="btn banner-btn"> explore </a>
      </div>
    </header>

    {% block content %}{% endblock content %}
    <!-- footer  -->
    <footer class="footer">
      <div class="section-center">
        <div class="social-icons">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
        <h4 class="footer-text">
          &copy;<span id="date"></span>
          <span class="company">tea station</span> all rights reserved
        </h4>
      </div>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript" src="{% static 'store/store.js' %}"></script>
  </body>
</html>
